In [41]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

In [ ]:
def print_full(x):
    pd.set_option('display.max_rows', len(x))
    f = open('output.txt', 'w')
    print(x)
    print >> f, x
    ##what is print print >> f, x
    pd.reset_option('display.max_rows')
    f.close()

In [1]:
data_df = pd.read_csv("speed_dating_train.csv", encoding="ISO-8859-1")
data_df.head()

NameError: name 'pd' is not defined

In [5]:
data_df.describe().head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>recordid</th>
      <th>iid</th>
      <th>id</th>
      <th>gender</th>
      <th>idg</th>
      <th>condtn</th>
      <th>wave</th>
      <th>round</th>
      <th>position</th>
      <th>positin1</th>
      <th>...</th>
      <th>attr3_3</th>
      <th>sinc3_3</th>
      <th>intel3_3</th>
      <th>fun3_3</th>
      <th>amb3_3</th>
      <th>attr5_3</th>
      <th>sinc5_3</th>
      <th>intel5_3</th>
      <th>fun5_3</th>
      <th>amb5_3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>7410.00000</td>
      <td>7410.000000</td>
      <td>7410.000000</td>
      <td>7410.000000</td>
      <td>7410.000000</td>
      <td>7410.000000</td>
      <td>7410.000000</td>
      <td>7410.000000</td>
      <td>7410.000000</td>
      <td>5564.000000</td>
      <td>...</td>
      <td>3600.000000</td>
      <td>3600.000000</td>
      <td>3600.000000</td>
      <td>3600.000000</td>
      <td>3600.000000</td>
      <td>1642.000000</td>
      <td>1642.000000</td>
      <td>1642.000000</td>
      <td>1642.000000</td>
      <td>1642.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>3705.50000</td>
      <td>251.432254</td>
      <td>8.630229</td>
      <td>0.500675</td>
      <td>16.651417</td>
      <td>1.806478</td>
      <td>10.090418</td>
      <td>16.202159</td>
      <td>8.721727</td>
      <td>8.912293</td>
      <td>...</td>
      <td>7.246944</td>
      <td>8.109167</td>
      <td>8.465833</td>
      <td>7.641667</td>
      <td>7.413889</td>
      <td>6.780146</td>
      <td>7.580999</td>
      <td>7.957369</td>
      <td>7.056638</td>
      <td>7.032887</td>
    </tr>
    <tr>
      <th>std</th>
      <td>2139.22708</td>
      <td>139.333964</td>
      <td>5.282323</td>
      <td>0.500033</td>
      <td>10.503254</td>
      <td>0.395085</td>
      <td>5.185992</td>
      <td>4.194475</td>
      <td>5.313904</td>
      <td>5.429879</td>
      <td>...</td>
      <td>1.599134</td>
      <td>1.569374</td>
      <td>1.412228</td>
      <td>1.773798</td>
      <td>1.983210</td>
      <td>1.334315</td>
      <td>1.426597</td>
      <td>1.309743</td>
      <td>1.662896</td>
      <td>1.765369</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1.00000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>5.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>...</td>
      <td>2.000000</td>
      <td>2.000000</td>
      <td>4.000000</td>
      <td>2.000000</td>
      <td>1.000000</td>
      <td>2.000000</td>
      <td>2.000000</td>
      <td>5.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>1853.25000</td>
      <td>133.000000</td>
      <td>4.000000</td>
      <td>0.000000</td>
      <td>8.000000</td>
      <td>2.000000</td>
      <td>6.000000</td>
      <td>14.000000</td>
      <td>4.000000</td>
      <td>4.000000</td>
      <td>...</td>
      <td>7.000000</td>
      <td>7.000000</td>
      <td>8.000000</td>
      <td>7.000000</td>
      <td>6.000000</td>
      <td>6.000000</td>
      <td>7.000000</td>
      <td>7.000000</td>
      <td>6.000000</td>
      <td>6.000000</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 188 columns</p>
</div>

In [13]:
data_df.isnull().head().sum().tail() #head return row,  but sum calculate sum of colmn

attr5_3     5
sinc5_3     5
intel5_3    5
fun5_3      5
amb5_3      5
dtype: int64

In [28]:
nonvars=["iid", "id", "idg", "condtn", "position", "positin1", "partner", "pid", "dec_o", "like_o", "prob_o", "met_o", "field", "undergra", "mn_sat", "tuition", "from", "income", "goal", "date", "go_out", "career", "sports", "tvsports", "exercise", "dining", "museums", "art", "hiking", "gaming", "clubbing", "reading", "tv", "theater", "movies", "concerts", "music", "shopping", "yoga", "exphappy", "expnum", "zipcode", "attr4_1", "sinc4_1", "intel4_1", "fun4_1", "amb4_1", "shar4_1", "attr5_1", "sinc5_1", "intel5_1", "fun5_1", "amb5_1", "dec", "like", "prob", "met", "match_es", "attr1_s", "sinc1_s", "intel1_s", "fun1_s", "amb1_s", "shar1_s", "attr3_s", "sinc3_s", "intel3_s", "fun3_s", "amb3_s", "satis_2", "length", "numdat_2", "attr7_2", "sinc7_2", "intel7_2", "fun7_2", "amb7_2", "shar7_2", "attr1_2", "sinc1_2", "intel1_2", "fun1_2", "amb1_2", "shar1_2", "attr4_2", "sinc4_2", "intel4_2", "fun4_2", "amb4_2", "shar4_2", "attr2_2", "sinc2_2", "intel2_2", "fun2_2", "amb2_2", "shar2_2", "attr3_2", "sinc3_2", "intel3_2", "fun3_2", "amb3_2", "attr5_2", "sinc5_2", "intel5_2", "fun5_2", "amb5_2", "you_call", "them_cal", "date_3", "numdat_3", "num_in_3", "attr1_3", "sinc1_3", "intel1_3", "fun1_3", "amb1_3", "shar1_3", "attr7_3", "sinc7_3", "intel7_3", "fun7_3", "amb7_3", "shar7_3", "attr4_3", "sinc4_3", "intel4_3", "fun4_3", "amb4_3", "shar4_3", "attr2_3", "sinc2_3", "intel2_3", "fun2_3", "amb2_3", "shar2_3", "attr3_3", "sinc3_3", "intel3_3", "fun3_3", "amb3_3", "attr5_3", "sinc5_3", "intel5_3", "fun5_3", "amb5_3"]
df_exclude=data_df.drop(data_df[(data_df.wave>5) & (data_df.wave<10)].index).drop(nonvars, 1)
data_df[(data_df.recordid>5) & (data_df.recordid<10)]  ###selection like matlab
##data_df[(data_df.wave>5) & (data_df.wave<10)].index
#data_df[(data_df.recordid>5) & (data_df.recordid<10)].index

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>recordid</th>
      <th>iid</th>
      <th>id</th>
      <th>gender</th>
      <th>idg</th>
      <th>condtn</th>
      <th>wave</th>
      <th>round</th>
      <th>position</th>
      <th>positin1</th>
      <th>...</th>
      <th>attr3_3</th>
      <th>sinc3_3</th>
      <th>intel3_3</th>
      <th>fun3_3</th>
      <th>amb3_3</th>
      <th>attr5_3</th>
      <th>sinc5_3</th>
      <th>intel5_3</th>
      <th>fun5_3</th>
      <th>amb5_3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>10</td>
      <td>7</td>
      <td>NaN</td>
      <td>...</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>10</td>
      <td>7</td>
      <td>NaN</td>
      <td>...</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>10</td>
      <td>7</td>
      <td>NaN</td>
      <td>...</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>10</td>
      <td>7</td>
      <td>NaN</td>
      <td>...</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
<p>4 rows Ã— 196 columns</p>
</div>

In [30]:
data_df[(data_df.recordid>5) & (data_df.recordid<10)].index  ###know the index attriable

Int64Index([5, 6, 7, 8], dtype='int64')

In [32]:
test = data_df[(data_df.recordid>5) & (data_df.recordid<10)]
test ### to know how drop work

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>recordid</th>
      <th>iid</th>
      <th>id</th>
      <th>gender</th>
      <th>idg</th>
      <th>condtn</th>
      <th>wave</th>
      <th>round</th>
      <th>position</th>
      <th>positin1</th>
      <th>...</th>
      <th>attr3_3</th>
      <th>sinc3_3</th>
      <th>intel3_3</th>
      <th>fun3_3</th>
      <th>amb3_3</th>
      <th>attr5_3</th>
      <th>sinc5_3</th>
      <th>intel5_3</th>
      <th>fun5_3</th>
      <th>amb5_3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>10</td>
      <td>7</td>
      <td>NaN</td>
      <td>...</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>10</td>
      <td>7</td>
      <td>NaN</td>
      <td>...</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>10</td>
      <td>7</td>
      <td>NaN</td>
      <td>...</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>10</td>
      <td>7</td>
      <td>NaN</td>
      <td>...</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
<p>4 rows Ã— 196 columns</p>
</div>

In [38]:
drop= test.drop([5])
drop ###what drop return.

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>recordid</th>
      <th>iid</th>
      <th>id</th>
      <th>gender</th>
      <th>idg</th>
      <th>condtn</th>
      <th>wave</th>
      <th>round</th>
      <th>position</th>
      <th>positin1</th>
      <th>...</th>
      <th>attr3_3</th>
      <th>sinc3_3</th>
      <th>intel3_3</th>
      <th>fun3_3</th>
      <th>amb3_3</th>
      <th>attr5_3</th>
      <th>sinc5_3</th>
      <th>intel5_3</th>
      <th>fun5_3</th>
      <th>amb5_3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>10</td>
      <td>7</td>
      <td>NaN</td>
      <td>...</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>10</td>
      <td>7</td>
      <td>NaN</td>
      <td>...</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>10</td>
      <td>7</td>
      <td>NaN</td>
      <td>...</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
<p>3 rows Ã— 196 columns</p>
</div>

In [39]:
test  ### test keep the same

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>recordid</th>
      <th>iid</th>
      <th>id</th>
      <th>gender</th>
      <th>idg</th>
      <th>condtn</th>
      <th>wave</th>
      <th>round</th>
      <th>position</th>
      <th>positin1</th>
      <th>...</th>
      <th>attr3_3</th>
      <th>sinc3_3</th>
      <th>intel3_3</th>
      <th>fun3_3</th>
      <th>amb3_3</th>
      <th>attr5_3</th>
      <th>sinc5_3</th>
      <th>intel5_3</th>
      <th>fun5_3</th>
      <th>amb5_3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>10</td>
      <td>7</td>
      <td>NaN</td>
      <td>...</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>10</td>
      <td>7</td>
      <td>NaN</td>
      <td>...</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>10</td>
      <td>7</td>
      <td>NaN</td>
      <td>...</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>10</td>
      <td>7</td>
      <td>NaN</td>
      <td>...</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
<p>4 rows Ã— 196 columns</p>
</div>

In [45]:
##now we know the df_exclude is .
pd.isnull(df_exclude).head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>recordid</th>
      <th>gender</th>
      <th>wave</th>
      <th>round</th>
      <th>order</th>
      <th>match</th>
      <th>int_corr</th>
      <th>samerace</th>
      <th>age_o</th>
      <th>race_o</th>
      <th>...</th>
      <th>sinc3_1</th>
      <th>fun3_1</th>
      <th>intel3_1</th>
      <th>amb3_1</th>
      <th>attr</th>
      <th>sinc</th>
      <th>intel</th>
      <th>fun</th>
      <th>amb</th>
      <th>shar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>...</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1</th>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>...</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2</th>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>...</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
    </tr>
    <tr>
      <th>3</th>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>...</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
    </tr>
    <tr>
      <th>4</th>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>...</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 51 columns</p>
</div>

In [56]:
df_exclude.isnull().head().recordid.any ###.recordid return the col, any() check the col

<bound method Series.any of 0    False
1    False
2    False
3    False
4    False
Name: recordid, dtype: bool>

In [59]:
df_exclude.head() ##check df_excluse

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>recordid</th>
      <th>gender</th>
      <th>wave</th>
      <th>round</th>
      <th>order</th>
      <th>match</th>
      <th>int_corr</th>
      <th>samerace</th>
      <th>age_o</th>
      <th>race_o</th>
      <th>...</th>
      <th>sinc3_1</th>
      <th>fun3_1</th>
      <th>intel3_1</th>
      <th>amb3_1</th>
      <th>attr</th>
      <th>sinc</th>
      <th>intel</th>
      <th>fun</th>
      <th>amb</th>
      <th>shar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>10</td>
      <td>4</td>
      <td>0</td>
      <td>0.14</td>
      <td>0</td>
      <td>27</td>
      <td>2</td>
      <td>...</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>10</td>
      <td>3</td>
      <td>0</td>
      <td>0.54</td>
      <td>0</td>
      <td>22</td>
      <td>2</td>
      <td>...</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>8</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>0</td>
      <td>1</td>
      <td>10</td>
      <td>10</td>
      <td>1</td>
      <td>0.16</td>
      <td>1</td>
      <td>22</td>
      <td>4</td>
      <td>...</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>5</td>
      <td>8</td>
      <td>9</td>
      <td>8</td>
      <td>5</td>
      <td>7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>0</td>
      <td>1</td>
      <td>10</td>
      <td>5</td>
      <td>1</td>
      <td>0.61</td>
      <td>0</td>
      <td>23</td>
      <td>2</td>
      <td>...</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>0</td>
      <td>1</td>
      <td>10</td>
      <td>7</td>
      <td>1</td>
      <td>0.21</td>
      <td>0</td>
      <td>24</td>
      <td>3</td>
      <td>...</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 51 columns</p>
</div>

In [60]:
pd.isnull(df_exclude).head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>recordid</th>
      <th>gender</th>
      <th>wave</th>
      <th>round</th>
      <th>order</th>
      <th>match</th>
      <th>int_corr</th>
      <th>samerace</th>
      <th>age_o</th>
      <th>race_o</th>
      <th>...</th>
      <th>sinc3_1</th>
      <th>fun3_1</th>
      <th>intel3_1</th>
      <th>amb3_1</th>
      <th>attr</th>
      <th>sinc</th>
      <th>intel</th>
      <th>fun</th>
      <th>amb</th>
      <th>shar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>...</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1</th>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>...</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2</th>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>...</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
    </tr>
    <tr>
      <th>3</th>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>...</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
    </tr>
    <tr>
      <th>4</th>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>...</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 51 columns</p>
</div>

In [72]:
pd.isnull(df_exclude).head().any(1)
pd.isnull(df_exclude).head().any(1).nonzero()[0]

array([0, 1, 2, 3, 4])

In [77]:
nan_row_index = pd.isnull(df_exclude).any(1).nonzero()[0]
df_clean = df_exclude.drop(df_exclude.index[nan_row_index])
df_clean.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>recordid</th>
      <th>gender</th>
      <th>wave</th>
      <th>round</th>
      <th>order</th>
      <th>match</th>
      <th>int_corr</th>
      <th>samerace</th>
      <th>age_o</th>
      <th>race_o</th>
      <th>...</th>
      <th>sinc3_1</th>
      <th>fun3_1</th>
      <th>intel3_1</th>
      <th>amb3_1</th>
      <th>attr</th>
      <th>sinc</th>
      <th>intel</th>
      <th>fun</th>
      <th>amb</th>
      <th>shar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>30</th>
      <td>31</td>
      <td>0</td>
      <td>1</td>
      <td>10</td>
      <td>3</td>
      <td>0</td>
      <td>-0.18</td>
      <td>1</td>
      <td>27</td>
      <td>2</td>
      <td>...</td>
      <td>8</td>
      <td>9</td>
      <td>7</td>
      <td>8</td>
      <td>4</td>
      <td>10</td>
      <td>8</td>
      <td>5</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>31</th>
      <td>32</td>
      <td>0</td>
      <td>1</td>
      <td>10</td>
      <td>2</td>
      <td>0</td>
      <td>-0.18</td>
      <td>1</td>
      <td>22</td>
      <td>2</td>
      <td>...</td>
      <td>8</td>
      <td>9</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>8</td>
      <td>10</td>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th>32</th>
      <td>33</td>
      <td>0</td>
      <td>1</td>
      <td>10</td>
      <td>9</td>
      <td>0</td>
      <td>0.05</td>
      <td>0</td>
      <td>22</td>
      <td>4</td>
      <td>...</td>
      <td>8</td>
      <td>9</td>
      <td>7</td>
      <td>8</td>
      <td>4</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>33</th>
      <td>34</td>
      <td>0</td>
      <td>1</td>
      <td>10</td>
      <td>4</td>
      <td>1</td>
      <td>-0.18</td>
      <td>1</td>
      <td>23</td>
      <td>2</td>
      <td>...</td>
      <td>8</td>
      <td>9</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>10</td>
      <td>7</td>
      <td>10</td>
      <td>7</td>
      <td>10</td>
    </tr>
    <tr>
      <th>34</th>
      <td>35</td>
      <td>0</td>
      <td>1</td>
      <td>10</td>
      <td>6</td>
      <td>0</td>
      <td>0.21</td>
      <td>0</td>
      <td>24</td>
      <td>3</td>
      <td>...</td>
      <td>8</td>
      <td>9</td>
      <td>7</td>
      <td>8</td>
      <td>6</td>
      <td>9</td>
      <td>8</td>
      <td>9</td>
      <td>8</td>
      <td>9</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 51 columns</p>
</div>

In [78]:
# divide data into train set and test set (wave 21)
exclude_wave21_df = df_clean.drop(df_clean[df_clean.wave==21].index)
match_df = exclude_wave21_df.drop(exclude_wave21_df[exclude_wave21_df.match==0].index)
not_match_df = exclude_wave21_df.drop(exclude_wave21_df[exclude_wave21_df.match==1].index)

In [81]:
test.drop("iid",1)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>recordid</th>
      <th>id</th>
      <th>gender</th>
      <th>idg</th>
      <th>condtn</th>
      <th>wave</th>
      <th>round</th>
      <th>position</th>
      <th>positin1</th>
      <th>order</th>
      <th>...</th>
      <th>attr3_3</th>
      <th>sinc3_3</th>
      <th>intel3_3</th>
      <th>fun3_3</th>
      <th>amb3_3</th>
      <th>attr5_3</th>
      <th>sinc5_3</th>
      <th>intel5_3</th>
      <th>fun5_3</th>
      <th>amb5_3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>10</td>
      <td>7</td>
      <td>NaN</td>
      <td>6</td>
      <td>...</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>10</td>
      <td>7</td>
      <td>NaN</td>
      <td>1</td>
      <td>...</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>10</td>
      <td>7</td>
      <td>NaN</td>
      <td>2</td>
      <td>...</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>10</td>
      <td>7</td>
      <td>NaN</td>
      <td>8</td>
      <td>...</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
<p>4 rows Ã— 195 columns</p>
</div>

In [82]:
train_df = not_match_df.sample(710).append(match_df).drop("wave", 1)

test_df = df_clean.drop(df_clean[(df_clean.wave<21)].index).drop("wave", 1)

In [83]:
from sklearn.svm import SVC
train_df_X = train_df.drop("match", 1)
train_df_y = train_df.match
test_df_X = test_df.drop("match", 1)
test_df_y = test_df.match
clf = SVC(kernel='poly', degree=1)

In [84]:
model = clf.fit(train_df_X, train_df_y)

In [91]:
test_df = df_clean.drop(df_clean[(df_clean.wave==21)].index).drop("wave", 1)
test_df.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>recordid</th>
      <th>gender</th>
      <th>round</th>
      <th>order</th>
      <th>match</th>
      <th>int_corr</th>
      <th>samerace</th>
      <th>age_o</th>
      <th>race_o</th>
      <th>pf_o_att</th>
      <th>...</th>
      <th>sinc3_1</th>
      <th>fun3_1</th>
      <th>intel3_1</th>
      <th>amb3_1</th>
      <th>attr</th>
      <th>sinc</th>
      <th>intel</th>
      <th>fun</th>
      <th>amb</th>
      <th>shar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>30</th>
      <td>31</td>
      <td>0</td>
      <td>10</td>
      <td>3</td>
      <td>0</td>
      <td>-0.18</td>
      <td>1</td>
      <td>27</td>
      <td>2</td>
      <td>35</td>
      <td>...</td>
      <td>8</td>
      <td>9</td>
      <td>7</td>
      <td>8</td>
      <td>4</td>
      <td>10</td>
      <td>8</td>
      <td>5</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>31</th>
      <td>32</td>
      <td>0</td>
      <td>10</td>
      <td>2</td>
      <td>0</td>
      <td>-0.18</td>
      <td>1</td>
      <td>22</td>
      <td>2</td>
      <td>60</td>
      <td>...</td>
      <td>8</td>
      <td>9</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>8</td>
      <td>10</td>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th>32</th>
      <td>33</td>
      <td>0</td>
      <td>10</td>
      <td>9</td>
      <td>0</td>
      <td>0.05</td>
      <td>0</td>
      <td>22</td>
      <td>4</td>
      <td>19</td>
      <td>...</td>
      <td>8</td>
      <td>9</td>
      <td>7</td>
      <td>8</td>
      <td>4</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>33</th>
      <td>34</td>
      <td>0</td>
      <td>10</td>
      <td>4</td>
      <td>1</td>
      <td>-0.18</td>
      <td>1</td>
      <td>23</td>
      <td>2</td>
      <td>30</td>
      <td>...</td>
      <td>8</td>
      <td>9</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>10</td>
      <td>7</td>
      <td>10</td>
      <td>7</td>
      <td>10</td>
    </tr>
    <tr>
      <th>34</th>
      <td>35</td>
      <td>0</td>
      <td>10</td>
      <td>6</td>
      <td>0</td>
      <td>0.21</td>
      <td>0</td>
      <td>24</td>
      <td>3</td>
      <td>30</td>
      <td>...</td>
      <td>8</td>
      <td>9</td>
      <td>7</td>
      <td>8</td>
      <td>6</td>
      <td>9</td>
      <td>8</td>
      <td>9</td>
      <td>8</td>
      <td>9</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 50 columns</p>
</div>

In [94]:
test_df_X = test_df.drop("match", 1)
test_df_y = test_df.match
model.score(test_df_X, test_df_y)

0.73571783407848979